<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="PoliklinikaDB" connectionString="Data Source=DESKTOP-P3TACA8;initial catalog=Poliklinika;integrated security=True;"
      providerName="System.Data.SqlClient" />
    <add name="Поликлиника_лаба_3.Properties.Settings.ПоликлиникаConnectionString"
      connectionString="Data Source=DESKTOP-P3TACA8;Initial Catalog=Поликлиника;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Поликлиника_лаба_3.Properties.Settings.PoliklinikaConnectionString"
      connectionString="Data Source=DESKTOP-P3TACA8;Initial Catalog=Poliklinika;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
